@model MovieDetailsViewModel

@{
    ViewBag.Title = "title";
}
@if (User.Identity.IsAuthenticated)
{
    <div class="row">
        <div class="col d-flex ">
            <div class="form-check mr-3">
                <input movie-id="@Model.MovieId" class="form-check-input" type="checkbox" id="watch">
                <label class="form-check-label" for="flexCheckDefault">
                    Add to watch list
                </label>
            </div>

            <div class="form-check mr-3">
                <input movie-id="@Model.MovieId" class="form-check-input" type="checkbox" value="" id="watched">
                <label class="form-check-label" for="flexCheckDefault">
                    I watched
                </label>
            </div>
            <div class="form-check">
                <input movie-id="@Model.MovieId" class="form-check-input" type="checkbox" value="" id="favorite">
                <label class="form-check-label" for="flexCheckDefault">
                    Add to favorites
                </label>
            </div>
        </div>
    </div>
}


<div class="ticket m-t-70">
    <div class="ticket1">
        <h2 class="movie-title">@Model.Title</h2>
        <img class="detailsPoster" src="@Model.PosterUrl">
    </div>
    <div class="ticket2">
        <iframe class="detailsYoutube" width="800" height="480" src="https://www.youtube.com/embed/AZGcmvrTX9M" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

<div class="movieInfoBg m-t-80">
    <div class="container p-b-40 p-t-40 movieInfo ">
        <h3 class="p-b-10">Overview</h3>
        <h5 class="font-italic">&emsp; @Model.Overview</h5>
    </div>
</div>

@section AjaxReq{
    @if (User.Identity.IsAuthenticated)
    {
        <script>
            function favorite() {

                var movieId = $('#favorite').attr("movie-id");
                $.get("/Profile/IsFavorite/", { "movieId": movieId }).done(function (data) {
                    if (data) {
                        $('#favorite').attr("checked", "checked");
                    }
                }).fail(function() {
                    //todo:toastify
                    Toastify({
                        text: data.message,
                        backgroundColor: "red",
                        className: "bg-danger"
                    }).showToast();
                });

                $('#favorite').click(function() {
                    var checkBox = $(this);
                    $.post("/Profile/AddFavorite",
                        {
                            "movieId": movieId
                        }).done(function(data) {
                        if (data.isSuccessful) {
                            Toastify({
                                text: data.message,
                                backgroundColor: "yellow",
                                className: "bg-warning"
                            }).showToast();
                        } else {
                            Toastify({
                                text: data.errors.map(e => e.description).join(" ,"),
                                backgroundColor: "red",
                                className: "bg-danger"
                            }).showToast();
                        }
                    }).fail(function() {
                        //todo:toastify
                        Toastify({
                            text: data.message,
                            backgroundColor: "red",
                            className: "bg-danger"
                        }).showToast();
                    });

                });
            }
            function watchList() {

                var movieId = $('#watch').attr("movie-id");
                $.get("/Profile/IsWatchList/", { "movieId": movieId }).done(function (data) {
                    if (data) {
                        $('#watch').attr("checked", "checked");
                    }
                }).fail(function () {
                    //todo:toastify
                    Toastify({
                        text: data.message,
                        backgroundColor: "red",
                        className: "bg-danger"
                    }).showToast();
                });

                $('#watch').click(function () {
                    var checkBox = $(this);
                    $.post("/Profile/AddWatchList",
                        {
                            "movieId": movieId
                        }).done(function (data) {
                            if (data.isSuccessful) {
                                Toastify({
                                    text: data.message,
                                    backgroundColor: "yellow",
                                    className: "bg-warning"
                                }).showToast();
                            } else {
                                Toastify({
                                    text: data.errors.map(e => e.description).join(" ,"),
                                    backgroundColor: "red",
                                    className: "bg-danger"
                                }).showToast();
                            }
                        }).fail(function () {
                            //todo:toastify
                            Toastify({
                                text: data.message,
                                backgroundColor: "red",
                                className: "bg-danger"
                            }).showToast();
                        });

                });
            }
            function watchedList() {

                var movieId = $('#watched').attr("movie-id");
                $.get("/Profile/IsWatchedList/", { "movieId": movieId }).done(function (data) {
                    if (data) {
                        $('#watched').attr("checked", "checked");
                    }
                }).fail(function () {
                    //todo:toastify
                    Toastify({
                        text: data.message,
                        backgroundColor: "red",
                        className: "bg-danger"
                    }).showToast();
                });

                $('#watched').click(function () {
                    var checkBox = $(this);
                    $.post("/Profile/AddWatchedList",
                        {
                            "movieId": movieId
                        }).done(function (data) {
                            if (data.isSuccessful) {
                                Toastify({
                                    text: data.message,
                                    backgroundColor: "yellow",
                                    className: "bg-warning"
                                }).showToast();
                            } else {
                                Toastify({
                                    text: data.errors.map(e => e.description).join(" ,"),
                                    backgroundColor: "red",
                                    className: "bg-danger"
                                }).showToast();
                            }
                        }).fail(function () {
                            //todo:toastify
                            Toastify({
                                text: data.message,
                                backgroundColor: "red",
                                className: "bg-danger"
                            }).showToast();
                        });

                });
            }
            favorite();
            watchedList();
            watchList();
        </script>
    }

}
