@using Vesizle.NodejsApi.Entities
@using VesizleMvcCore.Constants
@model HomeIndexViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="searchbar">
            <form class="searchbar-form" method="post">
                <button type="submit" class="btn btn-default">
                    <span class="fas fa-search" aria-hidden="true"></span>
                </button>
                <input name="query" class="search_input" type="text" placeholder="Search for a Movie, Tv Series...">
            </form>
        </div>
    </div>
</div>

<div class="row m-t-110 filmBg">
    <h2 class="m-b-8">Popular</h2>
    <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4">
        @foreach (var popularMovie in Model.PopularMovies)
        {
            @if (popularMovie.Title.Length < 34)
            {
                <div class="col-2">
                    <div class="card" id="card-block">

                        <div class="content">
                            <h6><a href="/Movie/Details/@popularMovie.MovieId" title="@popularMovie.Title">@popularMovie.Title</a></h6>
                        </div>
                        <div class="image">
                            <a class="image " href="/movie/details/@popularMovie.MovieId" title="@popularMovie.Title">
                                <img class="poster" src="@(popularMovie.PosterUrl)">
                            </a>
                        </div>
                        <div class="imdb">
                            <h6><a href="/movie/details/@popularMovie.MovieId">Score<br>@popularMovie.VoteAverage / 10</a></h6>
                        </div>

                    </div>
                </div>
            }

        }

    </div>

</div>

<div class="row m-t-80 filmBg">
    <h2 class="m-b-8">In Theater</h2>
    <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4">

        @foreach (var discoveryMovie in Model.DiscoveryMovies)
        {
            @if (discoveryMovie.Title.Length < 34)
            {

                <div class="col-2">
                    <div class="card" id="card-block">

                        <div class="content">
                            <h6><a href="/movie/details/@discoveryMovie.MovieId" title="@discoveryMovie.Title">@discoveryMovie.Title</a></h6>
                        </div>
                        <div class="image">
                            <a class="image " href="/movie/details/@discoveryMovie.MovieId" title="@discoveryMovie.Title">
                                <img class="poster" src="@(discoveryMovie.PosterUrl)">
                            </a>
                        </div>
                        <div class="imdb">
                            <h6><a href="/movie/details/@discoveryMovie.MovieId">Score<br>@discoveryMovie.VoteAverage / 10</a></h6>
                        </div>

                    </div>
                </div>
            }
        }
    </div>
</div>
