@model WatchListViewModel
@{
    ViewData["Title"] = "WatchList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1><i class="fa fa-eye"></i> WatchList</h1>
<hr />

<style>
    .container {
        padding: 2rem 0rem;
    }

    img {
        width: 150px;
    }

    .filmRow {
        border-radius: 10px;
        box-shadow: inset 0 0 4px rgba(64, 64, 64, 0.8);
        background-color: rgba(255, 255, 255, 0.1);
    }

    .filmRow:hover {
        background: rgba(255, 165, 0, 0.3);
    }

    .header {
        background: rgba(255, 165, 0, 0.5);
        box-shadow: inset -1px 0 4px rgba(64, 64, 64, 0.3);
    }
</style>

<div class="row">
    <div class="col-12">
        <h4>Count <span class="badge bg-secondary text-warning">@Model.Count</span></h4>
        <table class="table table-image">
            <thead>
            <tr class="font-italic header table-striped">
                <th scope="col">Movie Id</th>
                <th scope="col">Poster</th>
                <th scope="col">Title</th>
                <th scope="col">Vote Average</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var watchList in Model.WatchListDetailViewModels)
            {
                <tr class="filmRow">
                    <th scope="row">@watchList.MovieId</th>
                    <td class="w-25">
                        <a href="/movie/details/@watchList.MovieId" title="@watchList.Title">
                            <img src="@watchList.PosterUrl" class="img-fluid img-thumbnail" alt="Sheep">
                        </a>
                    </td>
                    <td>
                        <a href="/movie/details/@watchList.MovieId" title="@watchList.Title" class="text-black">
                            <h3 class="m-t-60">@watchList.Title</h3>
                        </a>
                    </td>
                    <td><h1 class="m-t-80">@watchList.VoteAverage</h1></td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>